apiVersion: v1
kind: Service
metadata:
  name: hello-world
  namespace: dev
  labels:
    app: hello-world
spec:
  type: LoadBalancer
  selector:
    app: hello-world
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
