apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: dev
  labels:
    app: gateway-service
spec:
  type: LoadBalancer
  selector:
    app: gateway-service
  ports:
  - name: http
    port: 9090
    targetPort: 9090
    protocol: TCP
